section#calculator.calculator
	.container
		h2.section-title Калькулятор
		.section-stripe
		form.calculator-form.clearfix
			.calculator-form--left
				.calculator__header Какие светильники вы используете сейчас?
				.calculator__wrapper.clearfix
					.calculator__form-group--left
						p.calculator-form__label Тип лампы
						.select(name="tisBulbType")
							.select-styled Выбрать из списка
							ul.select-options
								li(rel="Люминисцентная") Люминисцентная
								li(rel="Накаливания") Накаливания
					
					.calculator__form-group.calculator__form-group--right
						p.calculator-form__label Тип светильника
						.select
							.select-styled Выбрать из списка
							ul.select-options#tisLampsOptions
								li(rel="lamp1") Лампа 1
								li(rel="lamp2") Лампа 2
						//- .calculator-form__field.calculator-form__options#dropdownListTis
							.calculator-form__options-title Выбрать из списка
							.calculator-form__field.calculator-form__options-dropdown#tisLampsOptions
				.calculator__form-group.calculator__form-group--power
					p.calculator-form__label Мощность лампы, Вт
					.calculator-form__field
				p.calculator-form__label Кол-во светильников, шт
				input(type="number",
						name="tisLampQty",
						placeholder="Введите значение",
						required,
						pattern="^\d+$").calculator-form__field.calculator-form__field-text#tisLampQty
				p.calculator-form__label Тариф, тенге/кВт
				input(type="number",
						name="electricityTariff",
						placeholder="Введите значение",
						required,
						pattern="\d+\.?\d{,2}").calculator-form__field.calculator-form__field-text#electricityTariff

			.calculator-form--right
				.calculator__header Выберите вариант замены на LED освещение
				p.calculator-form__label Тип светильника
				.calculator__form-group#dropdownListLed
					//- .calculator-form__field.calculator-form__options.calculator-form__options-selected.clearfix
					//-     .calculator-form__options-item.selected.clearfix
					//-         .options-item__name Прожектор 25-10
					//-         .options-item__image
					//-             img(src="../images/calculator/lpo-four-small.png" alt="lampa")
					//-         .options-item__price 27000 тг
					.calculator-form__field.calculator-form__options#ledLampsOptions
						.calculator-form__options-title Выбрать из списка
						.calculator-form__field.calculator-form__options-dropdown
					p.calculator-form__label Артикул
				.calculator-form__field.calculator-form__field-code Прожектор 25-10
				input(type="submit" value="Рассчитать").btn.calculator__form-btn#calculateBtn
		
			.calculator__results.clearfix.u-hidden
				.calculator__results-title.
					При переходе на светодиодное освещение ТМ Etalin, на электроэнергии вы сэкономите
				.calculator__results-field.calculator__results-economy 370 500 тг
				.calculator__results-title.
					Светодиодные светильники Etalin окупятся через
				.calculator__results-field.calculator__results-month 7 месяцев
		
		
		.btn.calculator__btn Заказать консультацию