doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon")
    title Etalin
    

body
    section.header
        .owl-carousel.owl-header-carousel
            .owl-slide.owl-slide--first
            .owl-slide.owl-slide--second
        .wrapper
            nav.header-nav.clearfix
                .container
                    .sandwich-menu
                        .bar1
                        .bar2
                        .bar3
                    ul.header-nav__menu
                        li.header-nav__item
                            a(href="#about").anchor-link О компании
                        li.header-nav__item
                            a(href="#technology").anchor-link Технология
                        li.header-nav__item
                            a(href="#calculator").anchor-link Калькулятор
                        li.header-nav__item
                            a(href="#partners").anchor-link Партнеры
                        li.header-nav__item
                            a(href="#contacts").anchor-link Контакты
            .header-contacts.clearfix
                .container
                    .header-contacts__wrapper
                        .header-contacts__item.header-contacts__adress
                            <i class="fa fa-home" aria-hidden="true"></i>
                            span г. Алматы, ул. Толе Би 304
                        .header-contacts__item.header-contacts__phone
                            a(href="#" title="")
                                <i class="fa fa-phone" aria-hidden="true"></i> 
                                a(href="tel:+77273561105")
                                    span +7 727 356 11 05
                        .header-contacts__item.header-contacts__callback
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i> 
                            a(href="#")#callback Заказать обратный звонок
            .header-content
                .container
                    a(href="../pdf/Catalog_industry_lighting_Etalin_el.pdf" title="Каталог светильников Etalin" target="_blank").circle-container
                        .header-content__logo
                            img(src="../images/logo-etalin.png" alt="Etalin освещение")
                        h1.header-content__title Промышленное освещение
                        .section-stripe.clearfix
                        .header-content__tagline Светодиодное освещение - это выгодные и надежные <br> инвестиции в Ваш <br/> бизнес!
                    a(href="#calculator").btn.header-content__btn.anchor-link Расчет окупаемости
                    .header-content__description Узнайте свою выгоду от перехода на LED и начните экономить уже сегодня!

        
    section#about.about.clearfix
        .container
            h2.section-title О компании
            .section-stripe
            .about__image
                img(src="../images/etalin-office.jpg" alt="etalin освещение")
                .about__image-logo
            .about__info
                p ТОО «ETALIN LIGHTING GROUP KAZAKHSTAN» — Казахстанская торгово-консультационная компания в сфере высококачественного энергосберегающего освещения. С 2013 года является официальным представителем светодиодной продукции под брендом Etalin Lighting.
                p Продукция под торговой маркой «Etalin» соответствует основным положениям стандартов ErP и Energystar, полностью адаптирована под электросети РК и имеет все необходимые сертификаты, такие как CE, EAC, UL, FCC, RoHS. Благодаря этому ТОО «ETALIN LIGHTING GROUP KAZAKHSTAN» предоставляет беспрецедентно максимальную гарантию на светодиодную продукцию – от 3 до 5 лет.
                p Заводы-производители продукции под ТМ Etalin преимущественно расположены на Юго-востоке КНР и доступны для профессиональных инспекций нашими партнерами и сторонними организациями с целью открытого подтверждения высоких стандартов качества производства и комплектующих.
                p Светодиодное освещение от компании Etalin Lighting – это выгодные инвестиции и надежный свет надолго!
            a(href="../pdf/Catalog_Etalin_el.pdf" title="" target="_blank").btn.about__btn Скачать полный каталог продукции

    section#technology.technology
        .container
            h2.section-title.clearfix Технология
            .section-stripe
            .technology__image.clearfix
                img(src="../images/industry-lamp.png" alt="")
            .technology__advantages.clearfix
                .technology__advantages-item
                    .technology__advantages-item-image
                        img(src="../images/light-icon.png" alt="")
                    p Экономия: сокращение расходов на электроэнергию до 60% по сравнению с люминисцентными лампами и МГЛ.
                .technology__advantages-item
                    .technology__advantages-item-image
                        img(src="../images/eye-icon.png" alt="")
                    p Значительное повышение уровня освещенности промышленных помещений и рабочих поверхностей. Увеличение производительности струда до 30% за счет качественного света.
                .technology__advantages-item
                    .technology__advantages-item-image
                        img(src="../images/ip-icon.png" alt="")
                    p Высокая степень пожаробезопасности LED светильников, а также пыле- и влогозащищенный корпус.
                .technology__advantages-item
                    .technology__advantages-item-image
                        img(src="../images/clock-icon.png" alt="")
                    p Длительный срок службы светильников от 30 000 часов. Гарантия производителя до 3 лет!
                .technology__advantages-item
                    .technology__advantages-item-image
                        img(src="../images/smile-icon.png" alt="")
                    p Комфортное освещение благодаря отсутствию работ и затрат на замену и утилизацию ламп.
                .technology__advantages-item
                    .technology__advantages-item-image
                        img(src="../images/save-icon.png" alt="")
                    p Срок окупаемости LED светильников от 1 года!
            a(href="led-in-office.html" title="" target="_blank").btn.technology__btn#readMore Узнать больше

    include includes/calculator.pug
            
            
    section#partners.partners
        .container
            h2.section-title Партнеры
            .section-stripe
            .owl-carousel.owl-logo-carousel
                .logo-item
                    a(href="http://site.12mv.kz/" target="_blank")
                        img(src="../images/partners/12_mesjacev.jpg")
                .logo-item
                    a(href="http://www.security.kz/" target="_blank")
                        img(src="../images/partners/kma.jpg")
                .logo-item
                    a(href="http://www.ramstore.kz/" target="_blank")
                        img(src="../images/partners/ramstore.jpg")
                .logo-item
                    a(href="https://www.alser.kz/" target="_blank")
                        img(src="../images/partners/Alser_3d_ru.png")
                .logo-item
                    a(href="http://www.220volt.kz/" target="_blank")
                        img(src="../images/partners/220-volt-logo.png")
                .logo-item
                    a(href="http://www.bi-group.kz/" target="_blank")
                        img(src="../images/partners/Bi-group.png")
                .logo-item
                    a(href="http://www.stroymart.kz/" target="_blank")
                        img(src="../images/partners/strojmart.png")
                .logo-item
                    a(href="http://line-ltd.kz/" target="_blank")
                        img(src="../images/partners/Line Logo-1.jpg")
                .logo-item
                    a(href="http://www.elcor.kz/" target="_blank")
                        img(src="../images/partners/Elcom logo.png")
            a(href="http://www.etalin.kz/info/articles/" target="_blank").btn.partners__btn Портфолио

    section#contacts.contacts
        -var namePattern="([A-Za-zА-Яа-я]{3,} ?){1,3}";
        -var phonePattern="(\\+?\\d[- .]*){7,}";
        -var emailPattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}";
        .container
            h2.section-title Контакты
            .section-stripe
            .contacts__info.clearfix
                h3.contacts__info-title Нас легко найти
                .contacts__info-item.contacts__info-adress
                    <i class="fa fa-home" aria-hidden="true"></i>
                    span Ул. Толе Би 304,
                    span г. Алматы, Казахстан
                .contacts__info-item.contacts__info-phone
                    <i class="fa fa-phone" aria-hidden="true"></i> 
                    span +7 727 356 11 05
                .contacts__info-item.contacts__info-callback
                    <i class="fa fa-envelope" aria-hidden="true"></i> 
                    span info@etalin.kz
            .contacts__map.clearfix
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aae59924baef1528d398083a2e12d3265c66f092fb46c9deb3aabceac7f6bd4b5&amp;width=100%&amp;height=100%&amp;lang=ru_UA&amp;scroll=true"></script>
            form(method="post").contacts__callback.clearfix#form-contacts
                p Если у вас остались вопросы, вы можете оставить сообщение и наши специалисты свяжутся с вами.
                input(type="text" name="name" placeholder="Имя" required pattern=namePattern).contacts__callback-field
                input(type="tel" name="phone" placeholder="Телефон" required pattern=phonePattern).contacts__callback-field
                input(type="email" name="email" placeholder="E-mail" required pattern=emailPattern).contacts__callback-field
                textarea(rows="10" cols="25" name="message" placeholder="Сообщение").contacts__callback-field
                input(type="submit" value="Отправить").btn.contacts__callback-btn
    .popup-outer
        .popup-form#popup-form
            h2.popup-form__title Заказать звонок
            <i class="fa fa-times popup-close" aria-hidden="true"></i>
            .section-stripe
            form(method="post").popup-form__callback.clearfix#form-callback
                input(type="text" name="name" placeholder="Имя" required pattern=namePattern).popup-form__field
                input(type="tel" name="phone" placeholder="Телефон" required pattern=phonePattern).popup-form__field
                input(type="submit" value="Подтвердить").btn.popup-form__btn
        .popup-form.popup-form__consult#popup-form__consult
            h2.popup-form__title Заказать консультацию
            <i class="fa fa-times popup-close" aria-hidden="true"></i>
            .section-stripe
            form(method="post").popup-form__callback.clearfix#form-consult
                input(type="text" name="name" placeholder="Имя" required pattern=namePattern).popup-form__field
                input(type="tel" name="phone" placeholder="Телефон" required pattern=phonePattern).popup-form__field
                textarea(rows="10" cols="5" name="message" placeholder="Сообщение").popup-form__field
                input(type="submit" value="Отправить").btn.popup-form__btn


    footer
        .container
            .footer__socials
                a(href="#").footer__socials-item
                    <i class="fa fa-vk" aria-hidden="true"></i>
                a(href="#").footer__socials-item
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                a(href="#").footer__socials-item
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                a(href="#").footer__socials-item
                    <i class="fa fa-youtube" aria-hidden="true"></i>
            .footer__copyright © All Rights Reserved